PORT=
NODE_ENV=
CORS_ORIGIN=

DATABASE_URL=

ACCESS_TOKEN_SECRET=
REFRESH_TOKEN_SECRET=
COOKIE_SECRET=

TELEGRAM_BOT_TOKEN=
TELEGRAM_WEBHOOK_URL=
TELEGRAM_WEBHOOK_SECRET=
TELEGRAM_WEB_PAGE_URL=
TELEGRAM_SUPPORT_URL=

PAYMENT_REDIRECT_URL=
ZARINPAL_MERCHANT_ID=

NAVASAN_API_TOKEN=

SENTRY_DSN=

CF_EMAIL=
CF_API_TOKEN=
